/.vs/algorithm/v15/.suo
/.vs/algorithm/v15/Browse.VC.db
/.vs/algorithm/v15/Browse.VC.opendb
/.vs/algorithm/v15/Solution.VC.db
/.vs/algorithm/v15/Solution.VC.db-shm
/.vs/algorithm/v15/Solution.VC.db-wal
/.vs/algorithm/v15/ipch/AutoPCH/4f0c83d989d23502/TEST.ipch
/.vs/algorithm/v15/ipch/AutoPCH/6b17bdbd809a0ba7/BEZIER.ipch
/.vs/algorithm/v15/ipch/AutoPCH/741b242b4840b322/TEST.ipch
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj.user
/CMakeCache.txt
/CMakeFiles/3.21.4/CMakeCCompiler.cmake
/CMakeFiles/3.21.4/CMakeCXXCompiler.cmake
/CMakeFiles/3.21.4/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.21.4/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/3.21.4/CMakeRCCompiler.cmake
/CMakeFiles/3.21.4/CMakeSystem.cmake
/CMakeFiles/3.21.4/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.21.4/CompilerIdC/CompilerIdC.exe
/CMakeFiles/3.21.4/CompilerIdC/CompilerIdC.vcxproj
/CMakeFiles/3.21.4/CompilerIdC/Debug/CMakeCCompilerId.obj
/CMakeFiles/3.21.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
/CMakeFiles/3.21.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
/CMakeFiles/3.21.4/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
/CMakeFiles/3.21.4/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
/CMakeFiles/3.21.4/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
/CMakeFiles/3.21.4/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
/CMakeFiles/3.21.4/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
/CMakeFiles/3.21.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.21.4/CompilerIdCXX/CompilerIdCXX.exe
/CMakeFiles/3.21.4/CompilerIdCXX/CompilerIdCXX.vcxproj
/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
/CMakeFiles/3.21.4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
/CMakeFiles/3.21.4/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
/CMakeFiles/3.21.4/VCTargetsPath.txt
/CMakeFiles/3.21.4/VCTargetsPath.vcxproj
/CMakeFiles/CMakeOutput.log
/CMakeFiles/TargetDirectories.txt
/CMakeFiles/a8e0a2e57d4b9d238969c464abeab464/generate.stamp.rule
/CMakeFiles/cmake.check_cache
/CMakeFiles/generate.stamp
/CMakeFiles/generate.stamp.depend
/CMakeFiles/generate.stamp.list
/Debug/algorithm.exe
/Debug/algorithm.ilk
/Debug/algorithm.pdb
/Release/algorithm.exe
/Win32/Debug/ALL_BUILD/ALL_BUILD.Build.CppClean.log
/Win32/Debug/ALL_BUILD/ALL_BUILD.log
/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.command.1.tlog
/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.read.1.tlog
/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.write.1.tlog
/Win32/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
/Win32/Debug/ZERO_CHECK/ZERO_CHECK.log
/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
/Win32/Release/ZERO_CHECK/ZERO_CHECK.log
/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/ZERO_CHECK.vcxproj.user
/algorithm.dir/Debug/Bezier.obj
/algorithm.dir/Debug/algorithm.Build.CppClean.log
/algorithm.dir/Debug/algorithm.log
/algorithm.dir/Debug/algorithm.tlog/CL.command.1.tlog
/algorithm.dir/Debug/algorithm.tlog/CL.read.1.tlog
/algorithm.dir/Debug/algorithm.tlog/CL.write.1.tlog
/algorithm.dir/Debug/algorithm.tlog/algorithm.lastbuildstate
/algorithm.dir/Debug/algorithm.tlog/custombuild.command.1.tlog
/algorithm.dir/Debug/algorithm.tlog/custombuild.read.1.tlog
/algorithm.dir/Debug/algorithm.tlog/custombuild.write.1.tlog
/algorithm.dir/Debug/algorithm.tlog/link.command.1.tlog
/algorithm.dir/Debug/algorithm.tlog/link.read.1.tlog
/algorithm.dir/Debug/algorithm.tlog/link.write.1.tlog
/algorithm.dir/Debug/test.obj
/algorithm.dir/Debug/vc141.pdb
/algorithm.dir/Release/Bezier.obj
/algorithm.dir/Release/algorithm.log
/algorithm.dir/Release/algorithm.tlog/CL.command.1.tlog
/algorithm.dir/Release/algorithm.tlog/CL.read.1.tlog
/algorithm.dir/Release/algorithm.tlog/CL.write.1.tlog
/algorithm.dir/Release/algorithm.tlog/algorithm.lastbuildstate
/algorithm.dir/Release/algorithm.tlog/custombuild.command.1.tlog
/algorithm.dir/Release/algorithm.tlog/custombuild.read.1.tlog
/algorithm.dir/Release/algorithm.tlog/custombuild.write.1.tlog
/algorithm.dir/Release/algorithm.tlog/link.command.1.tlog
/algorithm.dir/Release/algorithm.tlog/link.read.1.tlog
/algorithm.dir/Release/algorithm.tlog/link.write.1.tlog
/algorithm.dir/Release/test.obj
/algorithm.sln
/algorithm.vcxproj
/algorithm.vcxproj.filters
/algorithm.vcxproj.user
/cmake_install.cmake
algorithm.js
algorithm.wasm
Makefile
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/3.18.2/CMakeCCompiler.cmake
CMakeFiles/3.18.2/CMakeCXXCompiler.cmake
CMakeFiles/3.18.2/CMakeSystem.cmake
CMakeFiles/algorithm.dir/Bezier.cc.o
CMakeFiles/algorithm.dir/Bezier.o
CMakeFiles/algorithm.dir/build.make
CMakeFiles/algorithm.dir/cmake_clean.cmake
CMakeFiles/algorithm.dir/CXX.includecache
CMakeFiles/algorithm.dir/depend.internal
CMakeFiles/algorithm.dir/depend.make
CMakeFiles/algorithm.dir/DependInfo.cmake
CMakeFiles/algorithm.dir/flags.make
CMakeFiles/algorithm.dir/link.txt
CMakeFiles/algorithm.dir/main.cc.o
CMakeFiles/algorithm.dir/main.o
CMakeFiles/algorithm.dir/objects1.rsp
CMakeFiles/algorithm.dir/progress.make
CMakeFiles/algorithm.dir/test.o
CMakeFiles/main.dir/build.make
CMakeFiles/main.dir/cmake_clean.cmake
CMakeFiles/main.dir/CXX.includecache
CMakeFiles/main.dir/depend.internal
CMakeFiles/main.dir/depend.make
CMakeFiles/main.dir/DependInfo.cmake
CMakeFiles/main.dir/flags.make
CMakeFiles/main.dir/link.txt
CMakeFiles/main.dir/main.o
CMakeFiles/main.dir/objects1.rsp
CMakeFiles/main.dir/progress.make
